body {
    background-color: #222629;
    font-family: Arial, Helvetica, sans-serif;
    color: #D0D0D0;

}
  /* unvisited link */
a:link {
  color: gray;
}

/* visited link */
a:visited {
    color: #C45EFF;
}

/* mouse over link */
a:hover {
    color:white;
}

/* selected link */
a:active {
    color: #CD212A;
}        

  
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: underline;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #CD212A;
}

#box {
  background-color: #f3f3f3;
}
