body {
    background-color: #E8E9EB;
    font-family: Arial, Helvetica, sans-serif;
    color: #313638;
}

  /* unvisited link */
a:link {
  color: #4E7E6F;
}

/* visited link */
a:visited {
    color: #6B694C;
}

/* mouse over link */
a:hover {
    color: #9BB11B;
}

/* selected link */
a:active {
    color: #F7D08A;
}        

h1 {
font-family: Arial, Helvetica, sans-serif;
color: #F17455;
text-decoration: underline;
}

h3 {
font-family: Arial, Helvetica, sans-serif;
color: #4E7E6F;
}
